.signIn {
  width: 100%;
  height: 61.46rem;
  position: relative;
  min-width: 320px;
  padding-top: 20.4rem;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left top;
}
.signIn .signInBtn {
  width: 6.88rem /* 344/50 */;
  height: 1.56rem /* 78/50 */ /* 78/16 */;
  margin: 0 auto;
  background: red;
}
.signIn .signInGift {
  width: 13rem /* 544/50 */;
  height: 25.16rem /* 1058/50 */;
  margin: 0 auto;
  margin-top: 10.1rem /* 424/50 */;
  background-color: skyblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}
.signIn .signInGift .giftItem {
  width: 2.4rem /* 94/50 */;
  height: 3.4rem /* 156/50 */;
  border: 1px solid black;
}
.signIn .signInFooter {
  width: 100%;
  height: 1.8rem /* 64/50 */;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: pink;
}
