html,
body,
.cloudGameBook {
    width              : 100%;
    /* height          : 100%; */
    background-color   : white;
    color              : #fff;
}

body {
    position: relative;
}

.cloudGameBook {
    -webkit-user-select: text !important;
    background-color   : #fff;
    text-align         : center;

}

img {
    width         : 100%;
    vertical-align: middle;
}

.phoneNumDiv {
    position : absolute;
    left     : 50%;
    top      : 30%;
    transform: translateX(-50%);
    width    : 100%;
}
.phoneNumImgTit {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.phoneNumTitle {
    font-size  : 1.44rem;
    line-height: 1.44rem;
}

.phoneNum {
    display      : block;
    width        : 72%;
    height       : 2.88rem;
    margin       : 0 auto;
    margin-top   : 2.4rem;
    margin-bottom: 1.6rem;
    font-size    : 1.2rem;
    text-align   : center;

}
input {
    border: none;
    outline: none;
}
input::-webkit-input-placeholder{
    color:rgba(204, 204, 204, .9);
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:rgba(204, 204, 204, .9);

}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:rgba(204, 204, 204, .9);
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:rgba(204, 204, 204, .9);    
}

.book {
    display            : block;
    width              : 50%;
    margin             : 0 auto;
    -webkit-user-select: text !important;
}


.modal {
    display  : none;
    position : absolute;
    left     : 50%;
    top      : 25%;
    transform: translateX(-50%);
    width    : 100%;

}

.modal img {
    display: block;
    width: 25%;
    margin : 0 auto;
    margin-bottom: 2.4rem;
}

.modalMainContent {
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
}

.picCodeDiv {
    height       : 2.88rem;
    display: flex;
    width        : 72%;
    margin: 0 auto;
    margin-bottom: 2.8rem;
}

.picCode {
    display: block;
    width: 42.8%;
    font-size    : 1.2rem;
    text-align   : center;
}
.picUrl {
    /* width: 40%; */
    height       : 2.88rem;
    max-width: 43%;
}
.refresh {
    width: 15.6%;
    /* height       : 2.88rem; */
}

/* 禁止触摸穿透 */
.bodyOver{
    overflow-y: hidden;
}
.contentBox{
    text-align: center;
    width:100vw;
    height: 200vh
}
.modal{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(66, 66, 66, 0.5);
    text-align: center;
    padding-top:20%;
}
.show{
    display: block;
}